# Node
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Environment variables
.env

# Test coverage reports
coverage/

# GitHub
/.gitlab-ci.yml
/.github/
